* {
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

/* navbar styling */

nav {
  background-color: #EA580C;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav ul > li {
  display: inline-block;
}

nav button {
  border: none;
  border: 2px solid #FFFFFF;
  border-radius: 0.2rem;
  padding: 0.5rem;

  font-size: 1.2rem;
  background-color: #EA580C;
}
